@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    caramellatte --default,
    abyss --prefersdark;
  root: ':root';
  include:;
  exclude:;
  prefix:;
  logs: true;
}

body {
  @apply min-h-svh antialiased transition-colors;
}

.logo {
  @apply fill-secondary;
}
