<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="getButtonClasses()"
  (click)="onClick($event)"
>
  <!-- Loading Spinner -->
  @if (loading) {
    <span class="mr-2 inline-block animate-spin">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide-loader"
      >
        <path d="M12 2v4"></path>
        <path d="M12 18v4"></path>
        <path d="M4.93 4.93l2.83 2.83"></path>
        <path d="M16.24 16.24l2.83 2.83"></path>
        <path d="M2 12h4"></path>
        <path d="M18 12h4"></path>
        <path d="M4.93 19.07l2.83-2.83"></path>
        <path d="M16.24 7.76l2.83-2.83"></path>
      </svg>
    </span>
  }

  <!-- Left Icon -->
  @if (iconLeft && !loading) {
    <span class="mr-2 inline-flex">
      <ng-content select="[iconLeft]"></ng-content>
    </span>
  }

  <!-- Button Text -->
  <span class="flex items-center"><ng-content></ng-content></span>

  <!-- Right Icon -->
  @if (iconRight && !loading) {
    <span class="ml-2 inline-flex">
      <ng-content select="[iconRight]"></ng-content>
    </span>
  }
</button>
